@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  @apply bg-white text-neutral-900 transition-colors duration-300;
}

html.dark body {
  @apply bg-neutral-950 text-neutral-100;
}

section {
  scroll-margin-top: 100px;
}